.cat-cards {
  display: flex;
  justify-content: center;
  width: 100%;

  >div {
    // Row

    .cat-card {
      // Col

      >div {
        border: 2px solid var(--main-t5);
        box-shadow: 10px 10px 5px var(--main-t1);
        margin: 0px 5px 20px 5px;

        .title {
          font-size: 14px;
        }

        h2,
        span {
          font-size: 12px;
          margin: 0;
          padding: 5px 10px;
        }

        img {
          width: 100%;
        }
      }
    }

    .existence {
      display: flex;
      justify-content: space-between;

      >div {
        display: flex;
      }
    }
  }
}