.space {
  // Row

  >div {
    // Col
    padding: 0;

    >div {
      display: flex;
      justify-content: center;
      overflow: hidden;

      img {
        width: 648px;
        height: 273px;
        @include map-respect(width,
          (xxl: 558px,
            xl: 936px,
            lg: 696px,
            md: 516px,
            sm: 400px,
            xs: 350px));
        @include map-respect(height,
          (xxl: 235px,
            xl: 394px,
            lg: 293px,
            md: 217px,
            sm: 168px,
            xs: 147px));
      }
    }
  }
}

.space2 {
  // Row

  >div {
    // Col
    padding: 0;

    >div {
      display: flex;
      justify-content: center;
      overflow: hidden;

      img {
        width: 1272px;
        height: 451px;
        @include map-respect(width,
          (xxl: 1116px,
            xl: 936px,
            lg: 696px,
            md: 516px,
            sm: 400px,
            xs: 350px));
        @include map-respect(height,
          (xxl: 395px,
            xl: 331px,
            lg: 246px,
            md: 182px,
            sm: 141px,
            xs: 124px));
      }
    }
  }
}