.space {
  // Row

  >div {
    // Col
    padding: 0;

    >div {
      display: flex;
      justify-content: center;
      overflow: hidden;

      img {
        width: 100%;
        height: 273px;
        @include map-respect(height,
          (xxl: 235px,
            xl: 394px,
            lg: 293px,
            md: 217px,
            sm: 168px,
            xs: 147px));
      }
    }
  }
}

.space2 {
  // Row

  >div {
    // Col
    padding: 0;

    >div {
      display: flex;
      justify-content: center;
      overflow: hidden;

      img {
        width: 100%;
        height: 200px;
        @include map-respect(height,
          (xxl: 180px,
            xl: 150px,
            lg: 110px,
            md: 90px,
            sm: 84px,
            xs: 70px));
      }
    }
  }
}