.page-layout {
  .page-content {
    min-height: 100vh;
    margin-top: 96px;
    @include map-respect(margin-top,
      (xxl: 91px,
        xl: 84px,
        lg: 79px,
        md: 72px,
        sm: 67px,
        xs: 72px));
    border-bottom: 1px solid var(--main-t7);
    border-radius: 0 0 50px 50px;
    box-shadow: -10rem 10rem var(--positive), 10rem 10rem var(--positive);
  }

  .sood-nav {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .os-scrollbar-rtl.os-scrollbar-vertical {
    left: auto;
    right: 0;
    top: 96px !important;
    bottom: 159px !important;

    s>.os-scrollbar-track {
      background-color: var(--opposite-t2);

      >.os-scrollbar-handle {
        background-color: var(--main);
      }
    }
  }
}