.page-layout {
  >.page-content {
    min-height: 100vh;
    margin-top: 116px;
    @include map-respect(margin-top,
      (xxl: 111px,
        xl: 103px,
        lg: 98px,
        md: 92px,
        sm: 86px,
        xs: 85px));
    border-bottom: 1px solid var(--main-t7);
    border-radius: 0 0 50px 50px;
    box-shadow: -10rem 10rem var(--positive), 10rem 10rem var(--positive);
  }

  >.sood-nav {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 10;
  }
}