.page-layout {
  >.page-content {
    min-height: 100vh;
    margin-top: 96px;
    @include map-respect(margin-top,
      (xxl: 91px,
        xl: 83px,
        lg: 78px,
        md: 72px,
        sm: 66px,
        xs: 65px));
  }

  >.sood-nav {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 10;
  }
}