.opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .facilities {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1366px;
    justify-content: space-around;
    direction: rtl;

    h6,
    h5 {
      color: aquamarine;
    }
  }
}