@mixin responsive-box($height) {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: $height;
  }
}

.the-news {
  >.title-row {
    padding: 10px 0px;
    margin-top: 20px;

    h2 {
      font-size: 17px;
      font-weight: bold;
    }

    hr {
      color: var(--opposite-t9);
    }
  }

  >.news-row {

    >.latest-news {
      // col

      >.happening {

        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;

        h2 {
          font-size: 12px;
          width: 100%;
        }

        .news-picture {
          width: 100%;
          @include responsive-box(100%);
          background-image: url("../../../../public/img/news.jpg");
          background-repeat: no-repeat;
          background-size: 100%;

          button {
            position: absolute;
            margin-left: 0;
            background: var(--positive-t7);
            color: var(--opposite-t9);
            font-weight: bolder;
            border: none;
            box-shadow: 5px 5px 5px var(--opposite-t5);

            &:hover {
              background: var(--positive-t9);
            }

            top: 10px;
            margin: 25px;
            font-size: 16px;
          }
        }

        >.detail-news {
          display: flex;
          justify-content: space-between;

          >div {
            display: flex;
            align-items: center;

            h2 {
              margin: 0;
            }
          }
        }
      }
    }
  }
}