$soodColor: #7556FC;
$soodColor2: #9880FA;

.nav-bar {
  width: 100%;
  height: 35px;
  background: $soodColor2;
  display: flex;
  align-items: center;

  >.container {
    >.row {
      padding: 0;

      >div {
        padding: 0;

        // col
        h2 {
          font-size: 12px;
          padding-right: 7px;
          margin: 0;
        }

        >.grouping {
          display: flex;
          align-items: center;
          height: 100%;

          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
            font-size: 12px;
            font-weight: bold;

            @include map-respect(font-size,
              (xxl: 11px,
                xl: 10px,
                lg: 10px,
                md: 9px,
                sm: 9px,
                xs: 8px));

            >.list {
              display: flex;
              align-items: center;
            }

            span {
              padding-right: 25px;
              font-size: 16px;
              font-weight: bold;
              @include map-respect(font-size,
                (xxl: 15px,
                  xl: 14px,
                  lg: 13px,
                  md: 12px,
                  sm: 11px,
                  xs: 10px));
              @include map-respect(padding-right,
                (xxl: 22px,
                  xl: 19px,
                  lg: 16px,
                  md: 13px,
                  sm: 10px,
                  xs: 10px));
            }

            >.ant-space {
              display: flex;
              align-items: center;

            }
          }
        }

        >.navigators {
          display: flex;
          align-items: center;
          justify-content: center;

          >.catagories {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            align-items: center;

            >li {
              >a {
                padding: 10px 20px;
                text-decoration: none;
                border-radius: 6px;
                color: black;
                font-size: 12px;
                font-weight: bold;

                @include map-respect(padding,
                  (xxl: 9px 18px,
                    xl: 8px 16px,
                    lg: 7px 14px,
                    md: 6px 12px,
                    sm: 5px 10px,
                    xs: 4px 8px));

                @include map-respect(font-size,
                  (xxl: 11px,
                    xl: 10px,
                    lg: 10px,
                    md: 9px,
                    sm: 8px,
                    xs: 7px));

                &:hover {
                  background: #a58fff;
                }
              }
            }
          }
        }

        >.quick {
          display: flex;
          align-items: center;
          justify-content: end;
          margin-left: 20px;

          >.quick-access {
            display: flex;
            align-items: center;

            >div {
              display: flex;
              flex-direction: column;

              >h2 {
                margin: 0;
                text-align: right;
                font-size: 10px;
                font-weight: bold;

                @include map-respect(font-size,
                  (xxl: 10px,
                    xl: 9px,
                    lg: 8px,
                    md: 7px,
                    sm: 6px,
                    xs: 5px));
              }

              @media screen and (max-width: 576px) {
                display: none;
              }
            }

            >img {
              width: 26px;
              height: 26px;
              margin-left: 6px;

              @include map-respect(width,
                (xxl: 23px,
                  xl: 20px,
                  lg: 16px,
                  md: 13px,
                  sm: 10px,
                  xs: 7px));
              @include map-respect(height,
                (xxl: 23px,
                  xl: 20px,
                  lg: 16px,
                  md: 13px,
                  sm: 10px,
                  xs: 7px));
              @include map-respect(margin-left,
                (xxl:6px,
                  xl: 5px,
                  lg: 5px,
                  md: 4px,
                  sm: 4px,
                  xs: 3px));
            }
          }
        }
      }
    }
  }
}