.product {
  .row-path {
    padding: 10px;

    p {
      color: var(--opposite-t7);
      font-size: 15px;
      @include map-respect(font-size,
        (xxl: 13px,
          xl: 12px,
          lg: 11px,
          md: 10px,
          sm: 9px,
          xs: 8px));
    }
  }

  .row-product-intro {
    >div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: var(--opposite-t05);
      padding: 10px 0px;
      margin-bottom: 10px;
      border-radius: 180px 180px 0px 0px;
      @include map-respect(border-radius,
        (xxl: 180px 180px 0px 0px,
          xl: 170px 170px 0px 0px,
          lg: 130px 130px 0px 0px,
          md: 100px 100px 0px 0px,
          sm: 70px 70px 0px 0px,
          xs: 50px 50px 0px 0px));

      .specification {
        .name {
          font-size: 20px;
          @include map-respect(font-size,
            (xxl: 17px,
              xl: 16px,
              lg: 15px,
              md: 14px,
              sm: 13px,
              xs: 11px));
        }

        .product-id {
          font-size: 14px;
          @include map-respect(font-size,
            (xxl: 12px,
              xl: 11px,
              lg: 11px,
              md: 10px,
              sm: 9px,
              xs: 8px));
          color: var(--opposite-t6);
          margin: 10px;
          @include map-respect(margin,
            (xxl: 9px,
              xl: 8px,
              lg: 8px,
              md: 8px,
              sm: 7px,
              xs: 7px));
        }
      }
    }
  }

  .row-product {
    >div {
      background: var(--opposite-t05);
    }

    .col-product-pictures {
      padding-top: 10px;

      >img {
        width: 100%;
        height: 60%;
      }

      >.slider-image {
        padding-top: 10px;
        display: flex;
        justify-content: center;
        width: 100%;

        >.images {
          width: 85%;

          >div {
            >.slick-slider {

              >.slick-prev::before,
              .slick-next::before {
                color: var(--opposite);
              }

              >.slick-prev.slick-disabled::before,
              .slick-next.slick-disabled::before {
                opacity: 0.25;
              }

              >.slick-dots {
                >li ::before {
                  color: var(--opposite-t5);
                  opacity: 1;
                }

                >.slick-active ::before {
                  color: var(--opposite);
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    .col-detail-and-buy {
      .detail-product {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 10px;

        .detail {
          .detail-title {
            font-size: 15px;
            font-weight: bolder;
            margin: 9px 0px;
          }

          >div {
            display: flex;
            justify-content: space-between;

            >h2 {
              font-size: 12px;
              margin: 2px;
            }

            >.value {
              color: var(--opposite-t6);
            }
          }
        }

        .any-question {
          background: rgba(0, 136, 255, 0.2);

          padding: 20px;
          border-radius: 15px;
          border: var(--opposite-t7) dotted;

          h2 {
            font-size: 12px;
          }

          >.ask-us {
            display: flex;
            align-items: center;

            >h2 {
              font-size: 13px;
              font-weight: bolder;
            }

            >p {
              font-size: 11px;
              margin: 5px;
              color: var(--opposite-t6);
            }
          }

          >.contact {
            display: flex;

            >div {
              display: flex;
              align-items: center;
              padding: 10px;
              margin: 5px;
              border-radius: 15px;

              h2 {
                margin-right: 5px;
                font-size: 11px;
              }
            }

            >.phone {
              background: green;

              >h2,
              span {
                color: white;
              }
            }

            >.support-agent {
              background: yellow;

              >h2,
              span {
                color: black;
              }
            }
          }
        }
      }

      >.line {
        width: 90%;
        height: 2px;
        background: var(--opposite-t2);
        margin: 0 5%;
      }

      .buy-product {

        >.price {
          display: flex;

          h2 {
            color: rgba(174, 0, 255, 0.8);
            padding: 15px 15px 0px 0px;
          }
        }

        >.add-to-buy-basket {
          display: flex;
          justify-content: space-between;
          margin: 10px 0px;

          >div {
            display: flex;
            align-items: center;
          }

          >.increase {
            display: flex;
            justify-content: center;
            background: var(--opposite-t1);
            border-radius: 15px;
            width: 25%;


            >.number {
              padding: 0px 10px;
              font-size: 20px;
              color: var(--opposite);
            }

            >.crease {
              padding: 3px 11px;
              border-radius: 10px;
              font-size: 20px;
              font-weight: bolder;
              color: var(--opposite);
              background: var(--positive);
            }
          }

          >.to-basket {
            display: flex;
            justify-content: space-between;
            background: var(--main);
            width: 60%;
            border-radius: 20px;

            >.material-icons {
              width: 13%;
              font-size: 30px;
              color: white;
            }

            >div {
              width: 87%;
              padding: 10px 0;

              >h2 {
                display: flex;
                justify-content: center;
                font-size: 20px;
                color: white;
              }
            }
          }

          >.fav-share {
            width: 10%;

            >.material-icons {
              font-size: 30px;
              color: var(--opposite-t7);
            }
          }
        }

        >.number-of-box-and-price {
          padding: 10px 0;

          >div {
            display: flex;
            justify-content: space-between;
            padding: 0 20px;

            >div {
              >h2 {
                font-size: 20px;
              }

              >.description {
                font-size: 24px;
                font-weight: bolder;
              }
            }

            >.price-of-number,
            .price-of-box {
              >h2 {
                color: rgba(174, 0, 255, 0.8);
              }
            }
          }

          >h2 {
            font-size: 20px;
            padding: 20px;
          }
        }

        >.line {
          width: 90%;
          height: 2px;
          background: var(--opposite-t2);
          margin: 0 5%;
        }

        >.facilities {
          display: flex;
          justify-content: space-around;
          padding: 20px 0;

          >div {
            display: flex;
            align-items: center;
            width: 22%;

            >span {
              font-size: 40px;
              color: rgba(174, 0, 255, 0.8);
            }

            >h2 {
              font-size: 20px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .row-related {
    margin: 20px 15px;
  }

  .row-comment {

    >.comment {
      width: 100%;
      border-radius: 15px;
      margin: 10px 0;
      background: rgba(0, 0, 255, 0.15);

      >h2 {
        font-size: 20px;
        padding: 20px 5px;
      }

      >.description {
        width: 98%;
        margin: 1%;
        border-radius: 5px;
        background: var(--positive);

        >h2 {
          font-size: 15px;
          padding: 15px 5px;
        }

        >textarea {
          width: 98%;
          margin: 1%;
          height: 150px;
          display: block;
          background: rgba(0, 0, 255, 0.15);
          display: flex;
          direction: rtl;
          color: var(--opposite-t7);
        }

        >.register {
          margin: 5px 8px 10px 0;
        }
      }
    }
  }
}