@import 'variables';
@import 'functions';
@import 'mixins';
@import 'components';
@import 'pages';
@import 'ant-reset';
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Define standard variables and values for website */
$bgColor: rgb(15, 12, 8);
$soodColor: #7556fc;
$soodColor2: #9880fa;

body {
  background-color: $bgColor !important;
  margin: 0;
}

*:not(.material-icons) {
  font-family: 'Vazirmatn', sans-serif;
}

.material-icons {
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
