@import 'variables';
@import 'functions';
@import 'mixins';
@import 'components';
@import 'pages';
@import 'ant-reset';
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  direction: rtl;
  background: var(--background) !important;

  h2 {
    color: var(--text);
  }
}

*:not(.material-icons) {
  font-family: 'Vazirmatn', sans-serif;
}

.material-icons {
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Theme
:root {
  /* Your default theme */
  --background: #fffbf4;
  --foreground: rgb(15, 12, 8);
  --main: #9880fa;
  --hover-main: #a58fff;
  --border: 1px solid rgba(0, 0, 0, 0.5);
  --input: rgb(232, 232, 232);
  --input-color: rgb(66, 66, 66);
  --hover: rgba(255, 255, 255, 0.2);
  --span: rgba(0, 0, 0, 0.5);
  --text: rgba(0, 0, 0, 0.9);
}

[data-theme='dark'] {
  --background: rgb(10, 10, 15);
  --foreground: rgb(232, 232, 232);
  --main: #7556fc;
  --hover-main: #653eff;
  --border: 1px solid rgba(255, 255, 255, 0.5);
  --input: rgb(66, 66, 66);
  --input-color: rgb(232, 232, 232);
  --hover: rgba(0, 0, 0, 0.2);
  --span: rgba(255, 255, 255, 0.5);
  --text: rgba(255, 255, 255, 0.9);
}