@media screen and (min-width: 992px) and (max-width: 1200px) {
  .nav-bar {
    >div {

      // container
      >div {
        // row
        padding: 5px 9px;

        >.icon {
          >img {
            margin: 0px 4px;
            width: 18px;
            height: 18px;
          }
        }

        >.navigators {
          >div {
            >.quick-access {
              margin-right: 30px;

              >div {
                >h2 {
                  font-size: 8px;
                }
              }

              >img {
                width: 22px;
                height: 22px;
                margin-left: 5px;
              }
            }

            >.catagories {

              >li {
                >a {
                  padding: 7px 14px;
                  font-size: 9px;
                }
              }
            }
          }
        }
      }
    }
  }
}