@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .nav-bar {
    >div {

      // container
      >div {
        // row
        padding: 5px 10px;

        >.icon {
          >img {
            margin: 0px 4px;
            width: 20px;
            height: 20px;
          }
        }

        >.navigators {
          >div {
            >.quick-access {
              margin-right: 35px;

              >div {
                >h2 {
                  font-size: 9px;
                }
              }

              >img {
                width: 24px;
                height: 24px;
                margin-left: 5px;
              }
            }

            >.catagories {

              >li {
                >a {
                  padding: 8px 16px;
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}