.modal {

  >.verification,
  >.sign {

    >.modal-content {
      background: rgba(0, 0, 0, 0);
      border: 0;

      >.modal-body {
        margin: 0 70px;
        border-radius: 25px;
        padding: 20px 40px;
        background: var(--background);
        border: 1px solid var(--opposite-t05);

        >.hdr {
          display: flex;
          justify-content: space-between;

          >.logo {
            >img {
              width: 100px;
              height: 50px;
            }
          }

          >.back {
            >img {
              width: 20px;
              height: 20px;
            }
          }
        }

        >.sign-in {
          font-size: 22px;
          font-weight: bolder;
          margin: 20px 0;
          color: var(--opposite-t9);
        }


        >.inter {
          font-size: 13px;
          font-weight: 300;
          color: var(--opposite-t6);
        }

        >.input {
          >input {
            display: block;
            background: var(--opposite-t05);
            color: var(--opposite-t8);
            border: none;
            border-radius: 8px;
            padding: 3px 20px;
            margin: 15px 5px;
            width: 100%;
            direction: ltr;
          }
        }

        >.continue {
          display: flex;
          justify-content: center;

          >button {
            border: 0;
            border-radius: 5px;
            padding: 5px 10px;
            margin: 0 5px;
            color: var(--opposite-t9);
            background: var(--main);
          }

          >.change {
            background: var(--opposite-t05);
          }
        }
      }
    }
  }
}

.modal-basket,
.modal-fav {
  >.modal-content {
    border: none;
    border-radius: 20px;

    >.modal-body {
      background: var(--background);
      min-height: 400px;

      h2 {
        font-size: 12px;

      }

      .title {
        color: var(--opposite-t6);
        font-weight: bolder;
      }

      >.buy-basket,
      >.product-lines {
        width: 100%;
        background: var(--opposite-t05);
        border-radius: 5px;
        border: 1px solid var(--opposite-t4);
        margin-bottom: 10px;

        >.name-brand-barcode {
          display: flex;
          justify-content: space-around;
          padding: 10px 0;
        }

        >.line {
          width: 96%;
          margin: 0 2%;
          height: 1px;
          background: var(--opposite-t4);
        }

        >.details {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 5px;

          >div {
            >div {
              display: flex;
              gap: 10px;

              >h2 {
                margin: 3px 0;
              }
            }
          }

          >.material-size,
          >.pieces-package-price {}

          >.photos {
            >img {
              width: 50px;
              height: 50px;
            }
          }
        }

        >.payment {
          display: flex;
          justify-content: space-between;
          padding: 10px 5px;

          >div {
            display: flex;
            gap: 5px;
          }
        }
      }

      >.product-lines {
        background: var(--main-t2); //
        border: 1px solid var(--main-t6); //

        >.line {
          background: var(--main-t3); //
        }
      }
    }

    >.modal-footer {
      background: var(--background);
    }
  }
}

.search-bar {
  background: var(--layer2);
  border-bottom: 1px solid var(--opposite-t5);

  >div {

    // container
    >div {
      // row
      padding: 5px 10px;
      margin: auto;
      align-items: center;

      @include map-respect(padding,
        (xxl: 5px 9px,
          xl: 4px 8px,
          lg: 4px 7px,
          md: 3px 7px,
          sm: 3px 6px,
          xs: 2px 5px));

      >div {
        // col
        padding: 0;

        >.soodmand-search {
          display: flex;
          align-items: center;

          >.logo {
            >img {
              width: 100px;
              height: 50px;
              @include map-respect(width,
                (xxl: 90px,
                  xl: 80px,
                  lg: 70px,
                  md: 60px,
                  sm: 50px,
                  xs: 40px));
              @include map-respect(height,
                (xxl: 45px,
                  xl: 40px,
                  lg: 35px,
                  md: 30px,
                  sm: 25px,
                  xs: 20px));
            }
          }

          >.theme {
            position: fixed;
            bottom: 20px;
            left: 20px;
          }

          >.search-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: var(--input);
            border-radius: 10px;
            height: 100%;
            overflow: hidden;
            width: 50%;
            margin-right: 10px;
            @include map-respect(margin-right,
              (xxl: 9px,
                xl: 8px,
                lg: 7px,
                md: 6px,
                sm: 5px,
                xs: 4px));

            >input {
              border: none;
              width: 100%;
              height: 100%;
              outline: none;
              direction: rtl;
              font-size: 12px;
              padding: 0;
              padding-right: 7px;
              background: inherit;
              color: var(--input-color);
              @include map-respect(font-size,
                (xxl: 11px,
                  xl: 10px,
                  lg: 10px,
                  md: 9px,
                  sm: 9px,
                  xs: 8px));

              @include map-respect(padding-right,
                (xxl: 7px,
                  xl: 6px,
                  lg: 5px,
                  md: 4px,
                  sm: 4px,
                  xs: 3px));
            }

            >span {
              cursor: pointer;
              padding: 0px 7px;
              color: var(--opposite-t5);
              @include map-respect(padding,
                (xxl: 0px 7px,
                  xl: 0px 6px,
                  lg: 0px 5px,
                  md: 0px 4px,
                  sm: 0px 4px,
                  xs: 0px 3px));
            }
          }
        }

        >.icon {
          display: flex;
          justify-content: end;

          >img {
            width: 22px;
            height: 22px;
            margin: 0px 5px;
            cursor: pointer;

            @include map-respect(width,
              (xxl: 20px,
                xl: 18px,
                lg: 16px,
                md: 14px,
                sm: 12px,
                xs: 10px));
            @include map-respect(height,
              (xxl: 20px,
                xl: 18px,
                lg: 16px,
                md: 14px,
                sm: 12px,
                xs: 10px));
            @include map-respect(margin,
              (xxl: 0px 5px,
                xl: 0px 5px,
                lg: 0px 4px,
                md: 0px 4px,
                sm: 0px 3px,
                xs: 0px 3px));
          }
        }
      }
    }
  }
}

// $container-max-widths:
// ( sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1320px );
// In addition to customizing the Sass, you can also create
//  your own containers with our Sass mixin.