$soodColor: #7556fc;
$soodColor2: #9880fa;
$soodColor3: #fffbf4;

.best {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  flex-direction: column;


  h2 {
    font-size: 15px;
    direction: rtl;
    margin: 0;
  }

  >.title-row {

    border: 1px solid $soodColor;

    >.best-title-bar {
      width: 100%;
      display: flex;
      justify-content: space-between;

      >div {
        display: flex;

        >h2 {
          padding: 15px;
          border-radius: 10px;

          &:hover {
            background: rgb(152, 128, 250, 0.5);
          }
        }
      }
    }
  }

  >.cards-row {
    border: 1px solid $soodColor;
    border-top: 0px;

    >.cards {
      display: flex;
      width: 100%;
      justify-content: center;

      >div {

        // Col
        >.side-cards {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          gap: 20px;
          flex-wrap: wrap;

          >.vl {
            height: 100%;
            width: 2px;
            background: black;
          }

          >.product {
            display: flex;
            flex-direction: column;
            border: 1px solid $soodColor;

            >.cat-and-name {
              h2 {
                padding-right: 15px;
                margin-top: 10px;
              }
            }

            img {
              margin: 10px;
            }

            >.price-and-rates {
              h2 {
                padding-right: 15px;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}