.best {
  margin: 20px 0px;
  @include map-respect(margin,
    (xxl: 20px 0px,
      xl: 18px 0px,
      lg: 16px 0px,
      md: 14px 0px,
      sm: 12px 0px,
      xs: 10px 0px));

  h2 {
    font-size: 15px;
    margin: 0;
    @include map-respect(font-size,
      (xxl: 15px,
        xl: 14px,
        lg: 13px,
        md: 12px,
        sm: 11px,
        xs: 10px));
  }

  >.title-row {

    >.best-title-bar {
      background: var(--positive);
      display: flex;
      justify-content: space-between;
      box-shadow: 0px 0px 3px var(--opposite-t4);

      >div {
        display: flex;

        >h2 {
          border-radius: 10px;
          padding: 15px;

          @include map-respect(padding,
            (xxl: 15px,
              xl: 14px,
              lg: 13px,
              md: 12px,
              sm: 11px,
              xs: 10px));

          &:hover {
            background: var(--opposite-t05);
          }
        }
      }
    }
  }

  >.cards-row {

    >.cards {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      padding: 0;

      .card {
        display: flex;
        width: 100%;
        background: var(--positive);
        box-shadow: 0px 0px 3px var(--opposite-t4);
        position: relative;
        z-index: 1;
        transform: scale(1);
        transition: all 150ms linear;

        &:hover {
          box-shadow: 0px 0px 10px var(--opposite-t6) !important;
          z-index: 2;
          transform: scale(1.05);
        }
      }

      >div {

        // Col
        >.side-cards {
          width: 100%;
          height: 100%;

          >div {
            height: 100%;
            display: flex;
            flex-wrap: wrap;

            >.product {
              height: 50%;

              >.cat-and-name {
                h2 {
                  padding-right: 15px;
                  margin-top: 10px;
                  @include map-respect(padding-right,
                    (xxl: 15px,
                      xl: 14px,
                      lg: 13px,
                      md: 12px,
                      sm: 11px,
                      xs: 10px));
                  @include map-respect(margin-top,
                    (xxl: 10px,
                      xl: 9px,
                      lg: 9px,
                      md: 8px,
                      sm: 8px,
                      xs: 7px));

                }
              }

              img {
                margin: 10px;
                @include map-respect(margin,
                  (xxl: 10px,
                    xl: 9px,
                    lg: 9px,
                    md: 8px,
                    sm: 8px,
                    xs: 7px));
              }

              >.price-and-rates {
                h2 {
                  padding-right: 15px;
                  margin-bottom: 10px;
                  @include map-respect(padding-right,
                    (xxl: 15px,
                      xl: 14px,
                      lg: 13px,
                      md: 12px,
                      sm: 11px,
                      xs: 10px));
                  @include map-respect(margin-bottom,
                    (xxl: 10px,
                      xl: 9px,
                      lg: 9px,
                      md: 8px,
                      sm: 8px,
                      xs: 7px));
                }
              }
            }
          }
        }

        >.special-card {
          img {
            margin: 5px;
            @include map-respect(margin,
              (xxl: 5px,
                xl: 4px,
                lg: 4px,
                md: 3px,
                sm: 3px,
                xs: 2px));
          }

          h2 {
            padding: 5px;
            @include map-respect(padding,
              (xxl: 5px,
                xl: 4px,
                lg: 4px,
                md: 3px,
                sm: 3px,
                xs: 2px));
          }
        }
      }
    }
  }
}