footer {
  background: var(--positive);
  width: 100%;
}


.footer-row {
  width: 100%;

  >.footer {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

    li {
      color: var(--opposite-t9);
      width: 100%;
    }

    h2,
    span {
      font-size: 12px;
      color: var(--opposite-t7);
    }

    li {
      font-size: 14px;
      margin-right: 20px;
    }

    >div {
      // col

      >div {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
      }

      >.contact {
        >div {
          display: flex;
          justify-content: space-between;
        }

        >.phone {
          direction: ltr;
        }
      }

      >.join {

        >.sm {
          display: flex;
          justify-content: end;

          img {
            margin: 0px 3px;
          }
        }
      }

      >.license {
        >.license-images {
          display: flex;
          justify-content: end;

          >img {
            width: 60px;
            height: 60px;
            margin: 0 5px;
          }
        }
      }
    }
  }
}

.policy-row {
  >.line {
    width: 90%;
    height: 2px;
    background: var(--main-t7);
    margin: 0 5%;
  }

  >.privacy-policy {
    margin: 15px 0;
    display: flex;
    justify-content: center;

    >h2 {
      font-size: 11px;
      color: var(--opposite);
    }
  }
}