footer {
  background: rgb(182, 182, 182);
  border-top: 1px solid rgb(100, 67, 41);
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;

  h1,
  h2,
  li,
  span {
    color: rgb(0, 0, 0);
    direction: rtl;
    margin: 0;
    font-size: 12px;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 14px;
  }

  li {
    margin: 10px 20px 10px 0px;
  }

  >div {
    >div {
      display: flex;
      flex-direction: column;
      direction: rtl;

    }

    >.contact {
      >div {
        display: flex;
        justify-content: space-between;
      }

      >.phone {
        >h1 {
          direction: ltr;
        }

        margin-top: 6px;
      }
    }

    >.join {

      >.input {
        display: flex;
        align-items: center;

        span {
          font-size: 30px;
          margin-bottom: 0;

        }

        input {
          border: none;
          background: white;
        }
      }

      >.sm {
        display: flex;
        justify-content: center;

        img {
          margin: 0px 5px;
        }
      }
    }
  }
}