.buy-basket-row {
  >.products-in-basket-col {
    >.title {
      >h2 {
        font-size: 15px;
        color: var(--opposite-t7);
      }
    }

    >.line {
      width: 98%;
      margin: 0 1%;
      height: 2px;
      background: var(--opposite-t4);
    }

    >.number-of-products {
      >.number-of-product {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
        background: var(--layer2);

        >.line-id {
          background: var(--main);
          padding: 4px 10px;
          border-radius: 95% 55% 80% 40%;
          transform: rotate(45deg);
          margin-left: 20px;

          >h2 {
            font-size: 13px;
            transform: rotate(-45deg);
          }
        }

        >.picture {
          margin: 0 10px;

          >img {
            width: 70px;
            height: 70px;
          }
        }

        >.detail {
          >.name-and-id {
            display: flex;

            >.name {
              font-size: 13px;
              color: var(--opposite-t8);
            }

            >.id {
              font-size: 9px;
              color: var(--opposite-t5);
            }
          }

          >.color-size-weight {
            display: flex;
            align-items: center;

            >div {
              display: flex;
              margin: 5px 0;
              margin-left: 8%;

              >h2 {
                margin: 0 2px;
              }

              >.title {
                font-size: 12px;
                color: var(--opposite-t8);
              }

              >.description {
                font-size: 11px;
                color: var(--opposite-t7);
              }
            }
          }

          >.price {
            display: flex;

            >h2 {
              font-size: 13px;
              color: var(--opposite-t7);

            }
          }
        }
      }
    }
  }

  >.calculate-price-col {}
}