.search-bar {
  width: 100%;
  height: 35px;
  background: #FFD100;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;

  >div {
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    padding: 0;
    margin: auto;

    h2 {
      font-size: 12px;
      padding-right: 7px;
    }

    >.offers {
      span {
        padding: 0px 20px;
      }
    }

    >.search-box {
      background: white;
      border-radius: 30px;
      height: 25px;
      overflow: hidden;

      >input {
        border: none;
        width: 500px;
        height: 100%;
        outline: none;
        direction: rtl;
        padding: 0 10px;
      }

      >span {
        cursor: pointer;
      }
    }

    >.grouping {
      padding: 0px 20px;

      span {
        padding: 0px 10px;
      }

      .dropdown {
        text-decoration: none;
        color: black;
      }
    }

    >div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}