.search-bar {
  width: 100%;
  height: 35px;
  background: #FFD100;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 10;

  >.container {

    >.row {
      padding: 0;

      >.column {

        >div {
          display: flex;
          align-items: center;

        }

        h2 {
          font-size: 12px;
          padding-right: 7px;
          margin: 0;
        }

        >.offers {

          span {
            padding: 0px 20px;
          }
        }

        >.search-box {
          justify-content: space-between;
          background: rgb(240, 240, 240);
          border-radius: 30px;
          height: 25px;
          overflow: hidden;

          >input {
            border: none;
            width: 500px;
            height: 100%;
            outline: none;
            direction: rtl;
            padding: 0 10px;
            background: inherit;
          }

          >span {
            cursor: pointer;
            padding-left: 10px;
          }
        }

        >.grouping {
          flex-direction: row-reverse;

          span {
            padding: 0 25px;
          }

          >.dropdown {
            display: flex;
            align-items: center;

            >.ant-space {
              display: flex;
              align-items: center;

              >.ant-space-item {}
            }

            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}