.test-bs {
  width: 100%;

  > .fucking-bs {
    height: auto;

    > div {
      width: 100%;
      height: 200px;
      background-color: yellow;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
