$soodColor: #7556FC;
$soodColor2: #9880FA;

.nav-bar {
  background: rgb(17, 21, 13);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #000000;
  z-index: 10;

  >div {

    // container
    >div {
      // row
      padding: 5px 10px;
      margin: auto;
      align-items: center;

      >div {
        // col
        padding: 0;
      }

      >.icon {

        >img {
          margin: 0px 5px;
          width: 22px;
          height: 22px;
        }
      }

      >.navigators {
        >div {
          display: flex;
          justify-content: center;

          >.quick-access {
            display: flex;
            align-items: center;
            margin-right: 40px;

            >div {
              display: flex;
              flex-direction: column;

              >h2 {
                margin: 0;
                text-align: right;
                color: #a3a3a3;
                font-size: 10px;
              }

              .description {
                color: $soodColor2;
              }
            }

            >img {
              width: 26px;
              height: 26px;
              margin-left: 6px;
            }
          }

          >.catagories {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            align-items: center;

            >li {
              >a {
                padding: 10px 20px;
                text-decoration: none;
                border-radius: 6px;
                color: #dddddd;
                font-size: 12px;

                @include respect(lg-phone) {
                  font-size: 2px;
                }

                &:hover {
                  background: #25201b;
                }
              }
            }
          }
        }
      }

      >.logo {
        padding: 0;

        >#logo {
          display: flex;
          flex-direction: row-reverse;
        }
      }
    }
  }
}

// @import './media-query/media.scss';
// $container-max-widths:
// ( sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1320px );
// In addition to customizing the Sass, you can also create
//  your own containers with our Sass mixin.